[run]
source = pets,accounts,pet_adoption
omit =
    */migrations/*
    */tests/*
    */test_*.py
    */admin.py
    */apps.py
    */urls.py
    */wsgi.py
    */asgi.py
    */settings.py
    */manage.py
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError
    def __str__
    
[html]
directory = htmlcov 